<div class="row">
    <div class="col-md-12">
        <h1 class="h3">お気に入りのつぶやき</h1>
        <%= render 'shared/favorite' %>
    </div>
    <div class='after'></div><!-- clear: both -->
    <%# kaminariによるページネーション表示 %>
    <div id="pagination">
        <%= paginate @favo_items %>
    </div>
</div>
