<div class="row">
    <h1>登録ユーザー全員</h1>
    <%# kaminariによるページネーション表示 %>
    <%= paginate @kaminari %>
    <div class="col-md-12">
        <% @users = User.all %>
        <%= render partial: 'alluser', collection: @users, as: 'localuser' %>
        <%# 部分テンプレートが、renderされるとき、@usersの要素の数だけループされる
            部分テンプレートはalluser
            コレクションとして@usersを指定
            自分でわかりやすくするため、ローカル変数をlocaluserとして明示的に指定した。
            asを指定しなければpartialテンプレート名がlocal変数となるけど。。慣れないうちはわかりにくいから。
        %>
    </div>
</div>
