<div class="row">
    <h1 class="h3"><%= @user.name %>さんのページです。</h1>
        <aside class="col-md-4">
            <%= render 'shared/user_info' %>
        </aside>
    <div class="col-md-8">
        <%#= render 'follow_form' if logged_in? %><%# ログインしている場合は部分テンプレートfollow_formをrender %>
        <% if @user.microposts.any? %>
        <h3>つぶやきの数 (<%= @user.microposts.count %>)</h3>
            <%#= @microposts.inspect %><%# 確認のためこのコードはもう暫く残しておきたい。 %>
            <ol class="microposts">
            <%# @micropostsのハッシュオブジェクト(@micropostsに紐付けられているcontentとuser_idなどの値)が
            パーシャルテンプレート_micropost.html.erbに渡されrenderされる。
            このとき、eachメソッドと同様の処理が行われるので、投稿順に繰り返される。
            パーシャル_micropost.html.erbの内容を自動で繰り返してくれるので超便利！%>
            
            <%= render @microposts %>
            <%# このshow.html以外のテンプレートで使う場合は、@user.micropostsとしなければエラーになった %>
            
            <%# 上記は下記と同じ処理を行っている %>
            <%# @microposts.each do |micropost| %>
            <%#= render partial: 'microposts/micropost', locals: { micropost: micropost } %>
            <%# end %>
            </ol>
        <% end %>
    </div>
</div>
