@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background-image: url(http://nyamu.sakura.ne.jp/img/micropost_back2.png);
  background-size: cover;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}


h1.h3 {
  letter-spacing: 0.15em;
  color: #666;
  text-shadow: 1px 1px 0px #000;
}

h1.h4 {
  letter-spacing: 0.15em;
  color: #666;
  text-shadow: 1px 1px 0px #000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left; /* 2015年9月19日削除 */
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px ;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* 新規登録失敗したときのエラー表示 */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      /*padding-top: 0;*/
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    /*float: left;*/ /* 2015年9月23日追記 */
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}




/* kaminari */
#pagination {
  text-align: center;
}
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}


/* 追加 2015年9月19日 */
/*.row {
  padding-top: 150px;
}*/

/*@media screen and (min-width : 768px){
 #logo {
  float: left;
 }
 .row {
  padding: 0;
 }
}*/

/* retweet*/
.retweetcount {
	background-color: lightgreen;
	display:inline !important;
}

.retweetdetail {
	background-color: lightpink;
	display:inline !important;
}


/* box 横並びここから */
.box {
	float: left;
	margin-right: 5px;
}

.boxContainer {
	overflow: hidden;
}

/* clearfix */
.boxContainer:before,
.boxContainer:after {
    content: "";
    display: table;
}
 
.boxContainer:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.boxContainer {
    zoom: 1;
}



/* indexページの各ユーザーの名前 */
.fwl-username {
  font-size: 20px;
  margin: auto auto;
}


/* indexページの各ユーザーを横並び*/
.all_user {
  margin-left: auto;
  margin-right: auto;
}

.one_user {
 float: left;
 margin-right: 3px;
 width: 300px;
 height: 300px;
}
.after{
 clear:both;
}


img.micropost_image {
	max-width: 100px;
	max-height: 100px;
}


/* 各micropost  */
/*
.micropost_panel {
 float: left;
 margin-right: 3px;
 width: 300px;
 height: 500px;
}
*/

/* 投稿削除リンク色を白にしたい  */
/*
a.white:link,a.white:visited{
　color: white !important;
}
*/

.white,.white:hover,.hd:visited{
	color:#fff !important;
	text-decoration:none !important;
}

/* ボタンリンクここから***************************/
.btnlink {
  display: inline-block;
  padding: 4px 6px; /* 元は 6px 12px */
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
text-decoration: none !important; /* 下線を消す */
}

/* default */
.btnlink-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btnlink-default:focus,
.btnlink-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btnlink-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* primary */
.btnlink-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btnlink-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btnlink-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

/* success */
.btnlink-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btnlink-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btnlink-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

/* info */
.btnlink-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btnlink-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btnlink-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

/* warning */
.btnlink-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btnlink-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btnlink-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}

/* danger */
.btnlink-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btnlink-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btnlink-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
/* ボタンリンクここまで***************************/

.follow_form {
  text-align: center;
  margin-bottom: 10px;
}